$blue: #06b3db;
$dark-blue: #0585a3;
$green: #4ed486;
$dark-green: #3b9f65;
$purple: #6139f6;
$dark-purple: #4c2cc3;
$yellow: #e3b63d;
$dark-yellow: #ab8d3c;
$red: #dc3d66;
$dark-red: #b93457;
$pink: #bd54cd;
$dark-pink: #9341a0;

$shadow-left: -10px 0 10px 0px rgba(0, 0, 0, .3);
$shadow-right: 10px 0 10px 0px rgba(0, 0, 0, .3);
$shadow-top: 0 -10px 10px 0px rgba(0, 0, 0, .3);
$shadow-bottom: 0 10px 10px 0px rgba(0, 0, 0, .3);